:root {
  --primary-color: rgb(14, 90, 156);
  --background-color: rgb(248, 248, 248);
  --text-color: rgb(53, 53, 53);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  background: inherit;
  font-size: inherit;
}

body {
  background: var(--background-color);
}

header {
  width: 100%;
  padding: 1.8em 0;
  color: var(--text-color);
}

header .primary-navigation {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  height: 100%;
  padding: 0 2.5em;
  font-size: 1.8rem;
}

header .menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

header .logo p {
  font-weight: 600;
  text-transform: uppercase;
}

header .logo p span {
  color: var(--primary-color);
}

header .menu-icon {
  display: none;
}

header .menu-icon i {
  cursor: pointer;
}

header .list {
  display: flex;
  list-style: none;
  font-size: 1.3rem;
}

header .list .item {
  padding: 0 1em;
}

header .join-btn {
  padding: 0.3em 0.9em;
  color: rgb(255, 255, 255);
  background-color: var(--primary-color);
  border-radius: 10px;
  text-transform: uppercase;
}

main {
  width: 100%;
}

main .section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 1.2em 0;
  padding: 0.5em 0;
  border-top: 2px solid rgba(167, 167, 167, 0.24);
}

main .hero {
  justify-content: flex-start;
  background: url("../img/hero-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
main .hero .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8em 5em;
}

main .hero .content h1 {
  color: rgb(255, 255, 255);
  font-size: 2.9rem;
  letter-spacing: 1.8px;
}

main .hero .content p {
  padding: 0.1em 0;
  color: rgb(255, 255, 255);
  font-size: 1.9rem;
}

main .hero .content .button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8em;
}

main .hero .content .button a {
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 0.4em 1em;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: rgb(255, 255, 255);
  font-size: 1.5rem;
}

main .hero .content .button a i {
  margin-left: 0.5em;
}

main .features {
  margin-top: 4em;
  flex-direction: column;
  justify-content: flex-start;
}

main .features .feature {
  display: flex;
  width: 100%;
  margin: 1.2em 0;
  padding: 3em 5em;
  color: var(--text-color);
  border-bottom: 2px solid rgba(167, 167, 167, 0.24);
}
main .features .section-meta {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

main .features .section-meta .title {
  width: 100%;
  padding: 0 0 1em 5em;
  font-size: 1.2rem;
  color: var(--primary-color);
  text-decoration: underline;
}

main .features .section-meta p {
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 700;
}

main .features .feature .feature-meta {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

main .features .feature .image-container {
  width: 60%;
  background: var(--text-color);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
main .features .feature .image-container img {
  width: 100%;
  height: 100%;
  opacity: 80%;
}

main .features .feature i {
  padding: 0.5em 0.8em;
  color: var(--text-color);
  background: rgb(250, 206, 85);
  border-radius: 5em;
  font-size: 1.8em;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px;
}

main .features .feature h2 {
  margin: 0.5em 0;
  font-size: 2.5em;
}

main .features .feature p {
  width: 50%;
  height: 100%;
  font-size: 1.2rem;
  color: var(--text-color);
}

@media (max-width: 940px) {
  header .primary-navigation {
    flex-direction: column;
  }
  header .navigation {
    display: none;
    width: 100%;
  }

  header .menu-icon {
    display: block;
  }

  header .list {
    flex-wrap: wrap;
    text-align: center;
  }

  header .list .item {
    width: 100%;
    margin: 1.2em 0;
    padding: 0.8em 1em;
  }

  main .hero {
    justify-content: center;
    text-align: center;
  }

  main .hero .content {
    padding: 8em 0;
  }
}

@media (max-width: 1220px) {
  main .features .feature {
    flex-direction: column;
  }

  main .features .feature .image-container {
    margin-top: 2em;
  }
}
