:root {
  --primary-color: rgb(14, 90, 156);
  --background-color: rgb(248, 248, 248);
  --text-color: rgb(53, 53, 53);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  background: var(--background-color);
}

header {
  width: 100%;
  color: var(--text-color);
}

header .primary-navigation {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  height: 100%;
  padding: 0 2.5em;
  font-size: 1.5rem;
}

header .logo p {
  font-weight: 600;
  text-transform: uppercase;
}

header .logo p span {
  color: var(--primary-color);
}

header .navigation {
  display: flex;
}

header .list {
  display: flex;
  list-style: none;
}

header .list .item {
  padding: 1.8em 1em;
}

header .join-btn {
  padding: 0.3em 0.9em;
  color: rgb(255, 255, 255);
  background-color: var(--primary-color);
  border-radius: 10px;
  text-transform: uppercase;
}

header .menu-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* @media (max-width: 900px) {

} */

main .section {
  width: 100%;
}

.hidden {
  visibility: hidden;
}
