:root {
  --primary-color: rgb(14, 90, 156);
  --background-color: rgb(248, 248, 248);
  --text-color: rgb(53, 53, 53);

  --border-color: rgba(167, 167, 167, 0.24);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  background: inherit;
  font-size: inherit;
}

body {
  background: var(--background-color);
}

header {
  width: 100%;
  color: var(--text-color);
}

header .primary-navigation {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  height: 100%;
  padding: 1.1em 2.5em;
  font-size: 1.8rem;
}

header .menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.logo p {
  font-weight: 600;
  text-transform: lowercase;
}

.logo p span {
  color: var(--primary-color);
}

header .menu-icon {
  display: none;
}

header .menu-icon i {
  cursor: pointer;
}

header .list {
  display: flex;
  list-style: none;
  font-size: 1.3rem;
  font-weight: 600;
}

header .list .item {
  padding: 0 1em;
}

header .list .item .link {
  transition: all 0.8s ease;
}

header .join-btn {
  padding: 0.3em 0.9em;
  color: rgb(255, 255, 255);
  background-color: var(--primary-color);
  border-radius: 4px;
  text-transform: uppercase;
}

main {
  width: 100%;
}

main .section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 1.2em 0;
  padding: 0.5em 0;
  border-top: 1px solid rgb(146, 146, 146);
}

.section-meta {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin-top: 1.2em;
  padding: 0 0 1em 5em;
}

.section-meta .title {
  width: 100%;
  font-size: 1.2rem;
  margin-bottom: 1.1em;
  color: var(--primary-color);
  text-decoration: underline;
}

.section-meta p {
  width: 100%;
  text-align: center;
  opacity: 0;
}

@keyframes to-top {
  100% {
    opacity: 1;
  }
}

.section span {
  width: 100%;
  font-size: 0.8em;
}

main .hero {
  justify-content: flex-start;
  background: url("../img/hero-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
main .hero .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8em 5em;
}

main .hero .content h1 {
  color: rgb(255, 255, 255);
  font-size: 2.9rem;
  letter-spacing: 1.8px;
}

main .hero .content p {
  padding: 0.1em 0;
  color: rgb(255, 255, 255);
  font-size: 1.9rem;
}

main .hero .content .button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8em;
}
main .hero .content .button:hover a i {
  transform: rotate(360deg);
}

main .hero .content .button a {
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 0.4em 1em;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: rgb(255, 255, 255);
  font-size: 1.5rem;
}

main .hero .content .button a i {
  margin-left: 0.5em;
  transition: transform 1.1s ease;
}

main .features {
  margin-top: 4em;
  flex-direction: column;
  justify-content: flex-start;
}

main .features .feature {
  display: flex;
  width: 100%;
  margin: 1.2em 0;
  padding: 3em 5em;
  color: var(--text-color);
}

main .features .section-meta p {
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 700;
}

main .features .feature .feature-meta {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

main .features .feature .image-container {
  width: 60%;
  background: var(--text-color);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
main .features .feature .image-container img {
  width: 100%;
  height: 100%;
  opacity: 80%;
  /* filter: blur(8px); */
}

main .features .feature i {
  padding: 0.5em 0.8em;
  color: var(--text-color);
  background: rgb(250, 206, 85);
  border-radius: 5em;
  font-size: 1.8em;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px;
}

main .features .feature h2 {
  margin: 0.5em 0;
  font-size: 2.5em;
}

main .features .feature p {
  width: 50%;
  height: 100%;
  font-size: 1.2rem;
  color: var(--text-color);
}

main .cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: rgb(255, 255, 255);
}

main .cards .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
main .cards .meta {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding-top: 0.5em;
  color: var(--text-color);
}

main .cards .meta h3 {
  font-size: 2.2rem;
  margin: 0.5em;
}

main .cards .meta ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: square;
  font-size: 1.2rem;
}

main .cards .meta ul li {
  margin: 0.4em 2em;
}

main .cards .content .card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  margin: 2em 0 8em 0;
  font-size: 1.7rem;
  transition: transform 1.2s ease;
}

main .cards .content .card-container:hover {
  /* transform: rotate3d(1, 1, 0, -55deg);
  transform: rotate(-10deg); */
  animation: card-effect 5s ease;
}

main .cards .content .card-container .card {
  width: 100%;
  color: white;

  background: url("../img/card/map.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

#card {
  background: url("../img/card/coin.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main .cards .content .card-container .background-image {
  width: 100%;
  height: 100%;
  padding: 0.9em 0.9em;
  border-radius: 20px;
  filter: opacity(87%);
  background: linear-gradient(
    90deg,
    rgba(162, 61, 240, 1) 0%,
    rgba(164, 44, 168, 1) 35%,
    rgba(135, 26, 182, 1) 57%,
    rgba(12, 168, 200, 1) 100%
  );
}

#background {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(39, 121, 103, 1) 43%,
    rgba(33, 131, 103, 1) 63%,
    rgba(19, 84, 97, 1) 100%
  );
}

main .cards .content .card-container .card .top {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  letter-spacing: 1px;
}

main .cards .content .card-container .card .middle {
  display: flex;
  flex-direction: column;
  margin: 2em 0;
}

main .cards .content .card-container .card .middle .chip {
  width: 100%;
}

main .cards .content .card-container .card .middle .chip img {
  width: 12%;
  height: 100%;
  object-fit: cover;
}

main .cards .content .card-container .card .middle .card-number {
  display: flex;
  justify-content: space-around;
  margin: 0 1.2em;
  font-weight: 700;
  letter-spacing: 5px;
}

main .cards .content .card-container .card .middle .time {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 3em;
}

main .cards .content .card-container .card .middle .time .label {
  font-size: 0.6em;
}

main .rates {
  flex-direction: column;
}

main .rates .container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 0 5em;
}

main .rates .container .rate {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0.9em;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

main .rates .container .rate h3 {
  width: 100%;
  padding: 2em 0;
  color: white;
  background-color: var(--primary-color);
  text-align: center;
}

main .rates .container .rate .rate-list {
  width: 100%;
  margin-top: 2em;
  list-style: none;
}

main .rates .container .rate .rate-list .rate-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 1.2em 0;
  font-size: 1.2rem;
}

main .rates .container .rate .rate-list .rate-item .rate-meta {
  width: 40%;
}

main .rates .container .rate .rate-list .rate-item .rate-meta h4 {
  width: 100%;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  font-size: 1.3em;
}

main .rates .container .rate .rate-list .rate-item .rate-meta p {
  font-size: 0.9em;
}

main .rates .container .rate .rate-list .rate-item .value {
  font-weight: 700;
}

main .join {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  width: 100%;
  padding-bottom: 10em;
  color: white;
  background: rgb(27, 20, 39);
}

main .join .section-meta .title {
  color: white;
}

main .join .content {
  padding-bottom: 3em;
  width: 100%;
  text-align: center;
}

main .join .content > p {
  padding: 1em 0 2em 0;
  font-size: 2rem;
}

main .join .content > p span {
  font-size: inherit;
  color: rgb(250, 206, 85);
}

main .join .content a {
  padding: 0.7em 0.9em;
  color: rgb(27, 20, 39);
  background: rgb(250, 206, 85);
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: 700;
}

main .join .content a:hover {
  background: rgb(248, 200, 69);
}

footer {
  width: 100%;
  height: 100%;
  color: white;
  background: rgb(27, 20, 39);
}

footer .content {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 2em 0 5em 0;
}

footer .content .company-meta {
  width: 20%;
}

footer .content .company-meta h1 {
  margin-bottom: 0.5em;
}

footer .content .company-meta p {
  color: rgb(150, 150, 150);
}

footer .content .links {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  width: 35%;
}

footer .content .links ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

footer .content .links ul li {
  margin: 0 1.2em;
}

footer .content .links ul li a:hover {
  color: rgb(250, 206, 85);
}

footer .content .media {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: 1.2rem;
}

footer .content .media i {
  margin: 0.6em 3em;
  transition: all 1.5s ease;
}

footer .content .media i:hover {
  cursor: pointer;
  color: rgb(250, 206, 85);
  transform: rotate(360deg);
}

footer .copyrights {
  padding: 0.4em 0;
  color: rgb(165, 165, 165);
  font-size: 0.8rem;
  text-align: center;
}

footer .copyrights a {
  color: rgb(248, 200, 69);
}

/*  */

@media (max-width: 1220px) {
  main .features .feature {
    flex-direction: column;
  }

  main .features .feature .image-container {
    margin-top: 2em;
  }

  main .cards .content .card-container {
    width: 60%;
  }
}

@media (max-width: 940px) {
  header .primary-navigation {
    flex-direction: column;
  }
  header .navigation {
    display: none;
    width: 100%;
  }

  header .menu-icon {
    display: block;
  }

  header .list {
    flex-wrap: wrap;
    text-align: center;
  }

  header .list .item {
    width: 100%;
    margin: 1.2em 0;
    padding: 0.8em 1em;
  }

  main .hero {
    justify-content: center;
    text-align: center;
  }

  main .hero .content {
    padding: 8em 0;
  }

  main .features .feature p {
    width: 100%;
  }

  main .features .feature .image-container {
    width: 100%;
  }

  main .cards .content .card-container {
    width: 70%;
  }

  main .cards .content .meta {
    flex-direction: column;
  }

  main .cards .content .meta ul {
    flex-direction: column;
  }

  main .rates .container {
    flex-direction: column;
  }
}

@media (max-width: 550px) {
  main .features .feature {
    padding: 1.2em 0.9em;
  }
  main .cards .content .card-container {
    width: 95%;
  }

  main .rates .container {
    flex-direction: column;
  }

  main .rates .container {
    flex-direction: column;
    padding: 0;
  }
  main .rates .container .rate .rate-list .rate-item {
    flex-direction: column;
  }

  main .rates .container .rate .rate-list .rate-item .value {
    margin-top: 1.2em;
  }
}

@keyframes card-effect {
  20% {
    transform: rotate3d(1, 1, 0, -35deg);
  }
  70% {
    transform: rotate(-10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
